<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>TBox</title>

    <link rel="stylesheet" href="styles/main.scss">

  </head>
  <body>

    <div class="signin">
      <div class="interior">
        <h1>T.box</h1>
        <input type="text" name="signin" value="Sign In"/><br />
        <input type="text" name="password" value="Password" /><br />
        <a href="#">New User?</a>
      </div>
    </div>

</body>
</html>
