%div(ng-controller="crateIndexCtrl")
  -#.modal.fade.new-crate-modal
  -#  .modal-dialog.modal-sm
  -#    .modal-content
  -#      .modal-header
  -#        %h4.text-center.modal-title Create Crate
  -#      .modal-body
  -#        %form.form-inline(role="form" ng-submit="newCrateSubmit()" novalidate)
  -#          .form-group
  -#            %input.form-control(type="text" placeholder="Enter a title" ng-model="formTitleInput" required)
  -#          %button.btn.btn-primary(type="submit") Create
  .tiy-container
    .tiy-logo
      %a(href="/")
        %img(src="https://s3.amazonaws.com/uploads.hipchat.com/31349/1240659/U5fvR0kjfkChSEF/logo2.png")
    .tiy-settings
      =link_to edit_user_registration_path(@user) do
        %img.tiy-gear(src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/black-ink-grunge-stamps-textures-icons-business/077031-black-ink-grunge-stamp-textures-icon-business-gear.png")
    .tiy-tboxList
      %ul.tiy-listedBoxes
        -#start add a box
        %li#tiy-createNew(ng-click="showNewCrateModal()")
          %img(src="http://wit.edu/dts/images/Editing-Edit-icon.png") Create New
        -# end add a box
        -# start macdowells wrap
        %div(ng-repeat="crate in crates")
          %a(ng-href="/{{crate.code}}")
            %li
              = '{{crate.title}}'
              .tiy-buttons
                %a.tiy-lock(href="#")
                  %img.tiy-lock(src="http://png-3.findicons.com/files/icons/1579/devine/256/un_lock.png")
                -# end lock
                %a.tiy-clipboard(href="#")
                  %img(src="http://uxrepo.com/static/icon-sets/ionicons/svg/clipboard.svg")
                -# end clipboard
                %input(type="text" ng-value="{{crate.code}}")
                %a.tiy-delete(ng-click="deleteCrate(crate.id)")
                  %img(src="http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png")

