%form{action:"/#{@crate.code}", method: :post, class: "passpcontainer"}
  %p.passp
    These files are password protected.
    %br
    %br
    Please enter password below to see your files.
  %input.passp-enter-password(type="password" name="password" placeholder="Enter password here" required)
  %br
  %br
  %ul.passpbuttons
    %li.passp-submit
      %input.passprotect(type="submit")