.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Please Enter a Password
      .panel-body
        %form.form-inline{role: "form", action:"/#{@crate.code}", method: :post}
          .form-group
            %input.form-control(type="password" placeholder="Enter Password" name="password" required)
          %button.btn.btn-primary(type="submit") Submit
  .col-md-2s