%div(ng-controller="cratesShowCtrl")
  - unless @user.guest?
    .modalStyles.passwordEditModal(ng-show="showPasswordEditModalStatus")
      %form(role="form" ng-submit="passwordUpdateSubmit()" novalidate)
        Edit Password
        %input.newCrateName(type="text" ng-model="crate.password")
        %input.newCrateSubmit(type="submit" value="CHANGE")
    .modalStyles.titleEditModal(ng-show="showTitleEditModalStatus")
      %form(role="form" ng-submit="titleUpdateSubmit()" novalidate)
        Edit Title
        %input.newCrateName(type="text" ng-model="crate.title")
        %input.newCrateSubmit(type="submit" value="CHANGE")
  .tiy-container
    .tiy-logo
      %a(href="/")
        %img(src="https://s3.amazonaws.com/uploads.hipchat.com/31349/1240659/U5fvR0kjfkChSEF/logo2.png")
    .tiy-settings
      - unless @user.guest?
        %a{:href => "/users/edit"}
          %img.tiy-gear{:src => "http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/black-ink-grunge-stamps-textures-icons-business/077031-black-ink-grunge-stamp-textures-icon-business-gear.png"}
        %a.allSubmitButtons(onclick="TogetherJS(this); return false;") Direct Help URL
        =link_to "Sign Out", destroy_user_session_path, class: "allSubmitButtons", method: :delete
    - unless @user.guest?
      %span.tiy-settings.tiy-password-settings
        Password:
        %spoiler= "{{crate.password || '\x22Lacking Word of Pass\x22'}}"
        %nbsp
        %nbsp
        %a(href="#" ng-click="showPasswordEditModal()") Edit
    .tiy-tboxList
      .pageTitle
        %span(ng-click="showTitleEditModal()")= '{{crate.title}}'
    .tiy-tboxList
      =form_tag upload_file_crate_path(@crate), class: "upload-form all-hidden" do
        %input.filepicker-button(type="filepicker" data-fp-button-text="Upload File" name="fileURL" ng-model="filepickerURL" ng-change="sendBlob()")
      %ul.tiy-listedBoxes
        / start upload a file
        %li#tiy-createNew(onclick="$('.filepicker-button').click()")
          %img{:src => "http://icons.iconarchive.com/icons/icons8/ios7/256/Very-Basic-Upload-To-Cloud-icon.png"}
          Upload
        %li(ng-repeat="upload in uploads")
          %a(ng-href="{{upload.url}}")
            = '{{upload.filename}}'
          -unless @user.guest?
            %a.tiy-delete(ng-click="deleteUpload(upload.id)" style="float: right; margin-right: 10px;")
              %img{:src => "http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png"}
  = javascript_include_tag "https://togetherjs.com/togetherjs-min.js"