body {
  background-color: black;
  font-family: 'Varela', serif;
}

.tiy-container {
  width: 1000px;
  margin: 0 auto;
  background-color: HSLA(0, 0%, 98%, 1);
  border-radius: 5px;
}
.tiy-logo {
  img {
    width: 150px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;
    margin: 30px 0px 0px 60px;
    border: 1px solid white;
  }
  float: left;
}
.tiy-settings {
//  position: absolute;
//  right: 40px;
//  top: 25px;
//  width: 300px;
  padding: 15px;
  float: right;
  overflow: auto;
  text-align: right;
  margin: 20px 40px 0px 0px;
  text-decoration: none;
  font-size: 15px;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    color: grey;
  }

  #tiy-signOut {
    font-size: 20px;
    display: block;
    float: left;
    margin-top: 3px;
    background-color: HSLA(192, 5%, 82%, 1);
    padding: 10px;
    border: 1px solid HSLA(0, 0%, 100%, 1);
    &:hover {
      background-color: HSLA(323, 100%, 50%, 1);
      color: white;
      border: 1px solid black;
    }
  }
}
.tiy-gear {
  width: 50px;
  float: left;
  margin-top: -11px;
  transform: all 5s ease-out;
  transition: transform 2s;
  &:hover {
    transform: scale(1) rotate(500deg);
  }
}
.tiy-tboxList {
  clear: both;
//  padding-top: 20px;
  /*border: 2px solid;*/
}
#tiy-createNew {
  font-size: 25px;
  text-decoration: none;
  margin: 0px 0px 20px 0px;
  padding: 15px 10px;
  transition: background-color .5s, padding .2s;
  &:hover {
    color: hsla(0, 0%, 98%, 1);
    border: none;
    padding: 15px;
  }
  img {
    width: 40px;
  }
}

.tiy-listedBoxes {
  list-style-type: none;
  width: 800px;
  margin-left: 20px;
  font-size: 25px;
  height: auto;
  a {
    text-decoration: none;
    color: black;
  }
  li {
    height: 40px;
    border: 2px solid white;
    padding: 20px 0px 0px 75px;
    background-color: HSLA(192, 5%, 82%, 1);
    overflow: hidden;
    box-shadow: 3px 3px 3px black;
    transition: background .5s;
    &:hover {
      color: white;
      background-color: HSLA(323, 100%, 50%, 1);
      font-size: 25px;
      margin-left: 40px;
      a{
        text-decoration: none;
        color: hsla(0, 0%, 98%, 1);
      }
    }
  }
}
.tiy-buttons {
  text-align: right;
  font-size: 15px;
  width: 200px;
  float: right;
  margin-right: 10px;
}
.tiy-lock {
  width: 20px;
}
.tiy-clipboard {
  img {
    width: 20px;
  }
}
.tiy-delete {
  img {
    width: 20px;
  }
}
.modalStyles {
  background-color: HSLA(0, 0%, 100%, 1);
  margin:auto;
  position:relative;
  width: 400px;
  height: 200px;
  font-family: 'Varela', serif;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:30px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.newCrateName {
  width:400px;
  display:block;
  border: 1px solid #999;
  height: 60px;
  font-size: 40px;
  -webkit-box-shadow: 0px 0px 8px   rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input[type=submit].newCrateSubmit {
  font-size: 25px;
  padding:5px 15px;
  border: 1px solid black;
  background-color: HSLA(323, 100%, 50%, 1);
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.pageTitle {
  font-size: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-left: -10px;
  span:hover {
    cursor: pointer;
    border-bottom: 2px dotted fuchsia;
  }
}

.tiy-password-settings {
  position: relative;
//  top: 20px;
  z-index: 1;
//  clear: both;
  a {
    color: HSLA(323, 100%, 50%, 1);
    text-decoration: none;
    font-size: small;
    &:hover {
      color: HSLA(254, 100%, 54%, 1);
    }
  }
}

.allSubmitButtons {
  color: white;
  border: 1px solid white;
  font-weight: bold;
  background: HSLA(323, 100%, 50%, 1) url(/examples/images/buttonbg.png) repeat-x;
  padding: 10px;
  box-shadow: 4px 4px 3px black;
  &:hover {
    background: HSLA(254, 100%, 54%, 1);
    cursor: pointer;
    background-position: 0 -24px;
  }
}