.passpcontainer{
    width: 350px;
    height: 300px;
    margin: 0 auto;
    font-family:'Varela', serif;
    text-align: center;
    background-color: hsla(0, 0%, 93%, 1);
}
.passp {
    color: black;
    font-size: 16px;
    font-family:'Varela', serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    margin-top: 70px;
    padding-bottom: -30px;
}
.passpbuttons {
    list-style-type: none;
    margin-left: -55px;


}


.passp-submit {
    width: 150px;
    height: 30px;
    background-color: hsla(323,100%,50%,1);
    padding: 10px;
    margin-top: -10px;
}

input.passp-enter-password{
    width: 300px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    border-radius: 3px;
}

.passprotect:hover {
    border-bottom: 5px solid black;
}

a.passprotect {
    text-decoration: none;
    color: white;
}
